.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.toggler {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
.hamburger {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  z-index: 1;
  cursor: pointer;
  background-color: var(--bg-color);
  transition: all 0.4s ease;
}
/* adding hamburger menu line */
/* this will create single line */
.hamburger > div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2px;
  /* adding smooth effect during rotation */
  transition: all 0.4s ease;
}
/* this is will create top and bottom line */
.hamburger > div::before,
.hamburger > div::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 2px;
}
.hamburger > div::after {
  top: 10px;
}

/* rotating and making of X*/

.toggler:checked + .hamburger > div {
  /* this will rotatate and make '/' */
  transform: rotate(135deg);
}
.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
  top: 0;
  /* this is rotate again 90degree will make X */
  transform: rotate(90deg);
}

/* rotate on checked when we hover over checkbox */

.toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* placing the navbar in the top left corner when we clicked hamburger menu */

/*  first work on .menu*/
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

/* navbar */
ul {
  margin-left: 40px;
  line-height: 4rem;
  list-style: none;
}
ul li a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

/*  when .toggler or hamburger menu(checkbox)clicked*/
.toggler:checked ~ .menu {
  visibility: visible;
}
.toggler:checked ~ .menu > div {
  transform: scale(1);
}

/* transform effect with help of transform scale in the first div for background color and overlay effect*/
.menu > div {
  width: 100%;
  height: 100%;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-opac-color);
  transform: scale(0);
  transition: all 0.4s ease 0.4s;
}
.menu > div > div {
  width: 90%;
  height: 100%;
}
