* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}

/* color variables*/
:root {
  --bg-color: #053b504d;
  --text-color: #ffffff;
  --btn-color: #ce5a67;
  --bg-btn-color: #f3eeea;
  --mid-text-color: #e5fd05;
  --on-hover-color: #fd0505;
  --on-hover-bg-color: #053b50;
}
/* showcase styling */

#showcase {
  height: 100vh;
  background: var(--bg-color);
  /* opacity: 0.85; */
  color: var(--text-color);
  overflow: hidden;
  position: relative;
}
#container {
  height: 100%;
  width: 100vw;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.8rem;
}
#showcase::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: url('../image/image.jpg') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#showcase h1 {
  font-size: 3rem;
}
#showcase p {
  width: 30%;
  font-size: 1.2rem;
  margin-top: 40px;
}
#showcase p .mid-color {
  color: var(--mid-text-color);
}
#showcase a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--btn-color);
  background-color: var(--text-color);
  margin-top: 20px;
  padding: 8px 22px;
  transition: 1s ease;
}
#showcase a:hover {
  color: var(--text-color);
  background-color: var(--on-hover-bg-color);
}
