* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}

/* color variables*/
:root {
  --bg-color: #053b5010;
  --text-color: #ffffff;
  --btn-color: #ce5a67;
  --bg-btn-color: #f3eeea;
  --mid-text-color: #e5fd05;
  --on-hover-color: #fd0505;
  --on-hover-bg-color: #053b50;
  /* --bg-opac-color: #031a23b0; */
  --bg-opac-color: #6a64645c;
}
/* showcase styling */

#showcase {
  height: 100vh;
  background: var(--bg-color);
  /* opacity: 0.85; */
  color: var(--text-color);
  overflow: hidden;
  position: relative;
}
#container {
  height: 100%;
  width: 100vw;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 1.8rem;
}
#showcase::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: url('../image/image.jpg') no-repeat center center/cover;
  /* background: url('https://images.unsplash.com/photo-1519046798162-b7144ecf8f38?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') 
    no-repeat center center/cover;*/
  height: 100%;
  width: 100%;
  z-index: -1;
}
#showcase h1 {
  font-size: 3rem;
}
#showcase h1 .mid-color {
  font-size: 4rem;
  color: var(--mid-text-color);
}
#showcase p {
  /* width: 30%; */
  font-size: 1.2rem;
  margin-top: 40px;
}
#showcase p .mid-color {
  color: var(--mid-text-color);
}
#showcase a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-color);
  background-color: var(--on-hover-bg-color);
  margin-top: 20px;
  padding: 8px 22px;
  transition: 0.5s ease;
}
#showcase a:hover {
  color: var(--btn-color);
  background-color: var(--bg-btn-color);
}
